<div class="container">
  <div class="row">
    <h1 class="col-md-8 mx-auto my-5 display-4">Instagram Clone</h1>
    <button class="col-md-2 my-5 mx-auto" (click)="sortByLike()">Sort by Like</button>
    <button class="col-md-2 my-5 mx-auto" (click)="sortByTime()">Sort by Time</button>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto my-5" *ngFor="let card of cards">
      <mdb-card>
        <mdb-card-img [src]="card.Image" alt="Card image cap">
        </mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{card.title}}</h4>
          </mdb-card-title>

          <mdb-card-text>
            {{card.description}}
          </mdb-card-text>
          <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
              <li class="list-inline-item pr-2 white-text"><i class="far fa-clock pr-1"></i>{{card.timestamp | date: 'dd/MM/yyyy'}}</li>
              <li class="list-inline-item pr-2"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{card.likes}}</li>
            </ul>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
